@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:wght@400;500;700&display=swap');

@import "tailwindcss";

@theme {
    --font-title: "Orbitron", sans-serif;
    --font-body: "Poppins", sans-serif;

    --color-dark-blue-50: #f2f2ff;
    --color-dark-blue-100: #e7e7ff;
    --color-dark-blue-200: #d3d3ff;
    --color-dark-blue-300: #b2afff;
    --color-dark-blue-400: #8b81ff;
    --color-dark-blue-500: #674fff;
    --color-dark-blue-600: #542afd;
    --color-dark-blue-700: #4619e8;
    --color-dark-blue-800: #3a14c2;
    --color-dark-blue-900: #32139f;
    --color-dark-blue-950: #1b096c;
}