:root {
    --font-body: Urbanist, sans-serif;

    --color-bg: #02070B;
    --color-card: #161C23;
    --color-card-hover: #2e3d49;
    --color-text-primary: #E0E7EB;
    --color-text-secondary: #A6ADB5;   
    --color-blue: #8FD7FF;

    --size-md: 1rem;
    --size-lg: 1.5rem;
    --size-xl: 2rem;
    --size-2xl: 3rem;
    --card-radius: 0.5rem;  

    --transition: .5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    font-family: var(--font-body);
}

a {
    text-decoration: none;
    color: var(--color-blue);
    font-weight: 700;
    transition: var(--transition);
}

h1 {
    color: var(--color-blue);
    font-size: var(--size-2xl);
    text-align: center;
    margin-block: var(--size-lg);
    font-weight: 800;
}

.grid-1 {
    width: 80%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-columns: 40% 200px 40%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1fr minmax(200px, 350px) 1fr;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: 300px; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    gap: 2rem 2 rem;
}

.box-1 {
    background-color: var(--color-card);
    padding: var(--size-xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-md);
    border-radius: var(--card-radius);
    transition: var(--transition);
    text-align: center;

    &:hover {
        background-color: var(--color-card-hover);
    }
}

.col-2 {
    grid-column: span 2;
}

.row-2 {
    grid-row: span 2;
}

@media( width <= 1024px){
    .grid-1 {
        grid-template-columns: 1fr 1fr;
    } 
}

@media( width <= 640px){
    .grid-1 {
        grid-template-columns: 1fr;
    }
        .col-2 {
            grid-column: span 1;
        }
    
        .row-2 {
            grid-row: span 1;
        }
}


